@model Mail.WebUi.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}


<div class="col-span-6 card flex flex-col">
    
    <div class="p-6 flex justify-start">
        <a href="/Messages/ListMessage" class="btn text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900 uppercase tracking-wider">
            <i class="fad fa-arrow-left mr-2"></i> Geri
        </a>
    </div>

    <div class="p-6 flex flex-col">
        <!-- Form Header -->
        <div class="border-b pb-4 mb-4">
            <h3 class="text-xl font-semibold">Profil Bilgilerini Düzenle</h3>
        </div>

        <!-- Form Content -->
        <form class="flex flex-col space-y-4" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputName1" class="block text-gray-700">Adınız</label>
                <input type="text" asp-for="Name" class="form-control block w-full mt-1 border-gray-300 rounded-md shadow-sm" id="exampleInputName1" placeholder="Ad">
            </div>
            <div class="form-group">
                <label for="exampleInputSurname1" class="block text-gray-700">Soyadınız</label>
                <input type="text" asp-for="Surname" class="form-control block w-full mt-1 border-gray-300 rounded-md shadow-sm" id="exampleInputSurname1" placeholder="Soyad">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4" class="block text-gray-700">Şifreniz</label>
                <input type="password" asp-for="Password" class="form-control block w-full mt-1 border-gray-300 rounded-md shadow-sm" id="exampleInputPassword4" placeholder="Şifreniz">
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword4" class="block text-gray-700">Şifre Tekrar</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control block w-full mt-1 border-gray-300 rounded-md shadow-sm" id="exampleInputConfirmPassword4" placeholder="Şifre Tekrar">
            </div>
            <div class="form-group">
                <label class="block text-gray-700">Resim Seç</label>
                <input type="file" asp-for="Picture" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
            </div>

            <div class="flex space-x-3">
                <button type="submit" class="btn-indigo uppercase tracking-wider">
                    Güncelle
                </button>
                <a href="/Messages/ListMessage" class="btn text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900 uppercase tracking-wider">
                    İptal
                </a>
            </div>
        </form>
    </div>
</div>


