
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}

<div class="flex items-center shadow-xs transition-all duration-300 ease-in-out p-5 hover:shadow-md">
    <div class="w-10 h-10 overflow-hidden rounded-md">
        <img class="img-responsive" src="img/user1.jpg" alt="">
    </div>
    <h1 class="ml-3">mohamed</h1>
    <p class="ml-6 flex-1 text-xs">page when looking at its layout looking at its layout The point of using Lorem...</p>
    <p class="font-bold text-gray-900">05:09 AM</p>
</div>
