<div class="col-span-2 bg-white border rounded p-6 mr-8">

    <a href="/Messages/CreateNewMessage/" class="btn-bs-dark uppercase tracking-wider">
        <i class="fad fa-layer-plus mr-2"></i>
        Yeni Posta
    </a>
    <hr class="my-6">

    <ul>
        <li class="my-5 mt-0">
            <a class="btn-indigo text-left" href="/Messages/ListMessage/">
                <i class="text-xs fad fa-inbox mr-1"></i>
                Gelen Kutusu
            </a>
        </li>


        <li>
            <a class="btn text-left text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900" href="/Messages/SentMessageList">
                <i class="text-xs fad fa-paper-plane mr-1"></i>
                Gönderilmiş Öğeler
            </a>
        </li>




        <li>
            <a class="btn text-left text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900" href="/Draft/DraftMessageList/">
                <i class="text-xs fad fa-inbox-in mr-1"></i>
                Taslaklar
            </a>
        </li>





        <li>
            <a class="btn text-left text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900" href="/Messages/TrashBox">
                <i class="text-xs fad fa-trash mr-1"></i>
                Silinmiş Öğeler
            </a>
        </li>

        <li>
            <a class="btn text-left text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900" href="/Profile/Index/">
                <i class="text-xs fas fa-user mr-1"></i>
                Profil
            </a>

        </li>

        <li>
            <a class="btn text-left text-gray-800 bg-white hover:bg-gray-100 hover:text-gray-900" href="/Login/SignIn/">
                <i class="text-xs fas fa-sign-out-alt mr-1"></i>
                Çıkış Yap
            </a>
        </li>


        <!-- seprator -->


    </ul>

</div>